@import '../../styles/variables.module.scss';
button.menu-toggler {
  position: relative;
  z-index: 102;
  padding: 0px;
  background-color: transparent;
  width: calc(1.5 * #{$unit});
  height: calc(1.5 * #{$unit});
  :hover {
    cursor: pointer;
  }
  svg {
    position: relative;
    width: calc(1.5 * #{$unit});
    height: calc(1.5 * #{$unit});
    path.line {
      position: absolute;
    }
    path.line1,
    path.line3 {
      transition: all 300ms ease-in-out;
    }
  }
}

.active {
  svg {
    path.line1 {
      transform: translateY(50%);
    }
    path.line2 {
      opacity: 0;
    }
    path.line3 {
      transform: translateY(-50%);
    }
  }
}
