@import '../../styles/variables.module.scss';
.menu {
  position: fixed;
  left: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 101;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $unit;
  ul {
    width: 100%;
    :last-child {
      margin-bottom: 0px;
    }
    a {
      li {
        padding-bottom: $unit;
        P {
          color: $textLight;
          text-align: center;
        }
        :hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
    }
  }
  @media (min-width: $xxl) {
    position: relative;
    background-color: transparent;
    left: 0;
    padding: 0px;
    ul {
      display: flex;
      justify-content: flex-end;
      a {
        margin-bottom: auto;
        margin-top: auto;
        margin-left: calc(2 * #{$unit});
        li {
          padding-bottom: 0px;
          p {
            font-size: calc(0.8125 * #{$unit});
          }
        }
      }
    }
  }
}
