@import '../../../styles/variables.module.scss';
.servicii-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(1 * #{$unit});
  .slider-servicii {
    width: 100%;
    position: relative;
    display: flex;
    .slider-container {
      position: relative;
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      padding-left: 16px;
      &::-webkit-scrollbar {
        display: none;
      }
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }
      @media (min-width: $md) {
        padding-left: 0px;
      }
    }
  }
}
