@import '../../../styles/variables.module.scss';
.programare-section {
  margin-top: calc(6 * #{$unit});
  margin-bottom: calc(6 * #{$unit});
  padding: $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $md) {
    padding: 0px;
  }
  .intro-section {
    padding: 0px;
  }
  .programare-section-container {
    width: 100%;
    padding-top: calc(2 * #{$unit});
    .btn-wrapper {
      width: 100%;
    }
    .calendar {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 480px;
      margin-bottom: $unit;
      font-family: 'Montserrat', sans-serif;
      @media (min-width: $md) {
        max-width: 400px;
      }
      @media (min-width: $xxl) {
        max-width: 480px;
      }
      label {
        width: 100%;
        color: $textDark;
        padding: calc(0.5 * #{$unit}) 0px;
        text-transform: capitalize;
        p {
          font-size: 0.875rem;
          font-weight: 600;
        }
      }
      p.info-message {
        color: $textDark;
        margin-top: $unit;
        font-weight: 500;
      }
      p.warning-message {
        color: $warning;
        margin-top: $unit;
        font-weight: 500;
      }
      p.start-end-time {
        margin-top: calc(1.5 * #{$unit});
        color: $primaryColor;
        font-weight: 500;
      }
      .select-atom {
        margin-top: 8px;
      }
      p {
        font-size: 0.875rem;
        font-weight: 600;
      }
      .react-datepicker-wrapper {
        .react-datepicker__input-container {
          input {
            width: 100%;
            border: 1px solid $border;
            padding: calc(0.5 * #{$unit});
            font-size: 0.875rem;
            color: $textDark;
            background-color: $primaryColorExtraLight;
          }
        }
      }
      .react-datepicker {
        background-color: $primaryColorExtraLight !important;
        color: $textDark;
        border-color: $border;
        width: 100%;
        max-width: 480px;
        display: flex;
        .react-datepicker__day-name,
        .react-datepicker__day,
        .react-datepicker__time-name {
          color: $textDark;
        }
        .react-datepicker__month-container {
          margin: auto;
          width: 100%;
          .react-datepicker__header {
            background-color: $primaryColorExtraLight;
            border-color: $border;
            .react-datepicker__current-month {
              color: $textDark;
              .react-datepicker__day-names {
                .react-datepicker__day-name {
                  color: $textDark;
                }
              }
            }
          }
          .react-datepicker__month {
            .react-datepicker__week {
              .active-calendar {
                color: $textDark;
              }
              // .active-programare {
              //   color: $primaryColor;
              // }
              .innactive {
                color: $grayLight;
                pointer-events: none;
              }
              .open-calendar {
                color: $grayLight;
              }
              .react-datepicker__day--selected {
                background-color: $primaryColor;
                color: $textLight;
              }
              .react-datepicker__day--today {
                border: 1px solid $border;
                background-color: $primaryColorLight;
                color: $textLight;
                border-radius: 50%;
              }
            }
          }
        }
        .react-datepicker__time-container {
          .react-datepicker__time-list-item--selected {
            background-color: $primaryColor;
            color: $textLight;
          }
        }
        .react-datepicker__day--keyboard-selected,
        .react-datepicker__month-text--keyboard-selected,
        .react-datepicker__quarter-text--keyboard-selected,
        .react-datepicker__year-text--keyboard-selected {
          border-radius: 50%;
        }
        .react-datepicker__day--selected {
          background-color: $primaryColor;
          color: $textLight;
          border-radius: 50%;
        }
      }
    }
  }
}
