@import '../../../styles/variables.module.scss';
.card-terapeut {
  position: relative;
  display: inline-flex;
  background-color: $primaryColorLight;
  width: 80vw;
  height: 176px;
  border: 1px solid $border;
  border-radius: 8px;
  scroll-snap-align: center;
  flex: none;
  margin-right: 16px;
  @media (min-width: $md) {
    max-width: 320px;
    scroll-snap-align: none;
  }
  .card-terapeut-header {
    position: relative;
    width: 40%;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    p {
      color: $textLight;
      z-index: 1;
      margin: auto;
    }
  }
  .card-terapeut-body {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: $unit;
    justify-content: center;
    gap: calc(0.75 * #{$unit});
    .card-terapeut-body-group {
      display: flex;
      flex-direction: column;
      gap: calc(0.25 * #{$unit});
      .card-terapeut-body-group-header {
        display: flex;
        gap: calc(0.5 * #{$unit});
        p.card-nume {
          font-size: 0.875rem;
          font-weight: 600;
          text-transform: capitalize;
          line-height: 100%;
          @media (min-width: $xxl) {
            font-size: 1rem;
          }
        }
        p.card-specializare {
          color: $primaryColor;
          font-size: 0.6875rem;
          line-height: 100%;
          text-transform: capitalize;
          @media (min-width: $xxl) {
            font-size: 0.75rem;
          }
        }
      }
    }
    .card-terapeut-body-description {
      p.card-descriere {
        font-size: 0.75rem;
        line-height: 140%;
        @media (min-width: $xxl) {
          font-size: 0.875rem;
        }
      }
    }
  }
}
