@import '../../../styles/variables.module.scss';
.card-serviciu {
  position: relative;
  display: inline-flex;
  background-color: $primaryColorLight;
  width: 80vw;
  height: 176px;
  border: 1px solid $border;
  border-radius: 8px;
  scroll-snap-align: center;
  flex: none;
  margin-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (min-width: $md) {
    max-width: 320px;
    scroll-snap-align: none;
  }
  .card-serviciu-header {
    position: relative;
    width: 40%;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    p {
      color: $textLight;
      z-index: 1;
      margin: auto;
      max-width: 10ch;
    }
  }
  .card-serviciu-body {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: $unit;
    justify-content: center;
    gap: calc(0.75 * #{$unit});
    .btn-wrapper {
      width: 100%;
    }
    .card-serviciu-body-line {
      display: flex;
      gap: calc(0.5 * #{$unit});
      p {
        text-transform: capitalize;
        &:first-child {
          font-weight: 600;
        }
      }
    }
  }
}
